.wreppar-top {
  padding: 2rem;
}
.twitte-form {
  display: flex;
  flex-direction: column;
  border: 2px solid silver;
}
.top-form,
.bottom-form {
  display: flex;
  padding: 2rem;
}

.twitee-field {
  padding: 1rem 3rem;
  font-size: 2rem;
  background-color: transparent;
  color: white;
  border: none;
  width: 100%;
  outline: none;
  display: block;
  resize: none;
}

.bottom-form {
  padding: 1rem;
  justify-content: space-between;
}
.eroor-field {
  border: none;
  background-color: #f8d7da;
  font-size: 1.6rem;
  color: #721c24;
}
.error {
  padding: 0.5rem;
}
.remove {
  visibility: hidden;
}
.submit-twitee {
  background-color: #007bff;
  padding: 0.5rem 2rem;
  color: white;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  outline: none;
}
.submit-twitee:disabled {
  background-color: #364c62;
  cursor: no-drop;
}
