a {
  text-decoration: none;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.5);
}
.App {
  width: 50%;
  margin: auto;
  padding: 2rem;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.nav-bar {
  width: 80%;
  margin: auto;
  background: #343a40;
  border-radius: 6px;
  padding: 2rem;
}
.all-pages {
  list-style: none;
  display: flex;
  font-size: 1.4rem;
}
.active {
  color: aliceblue;
}
@media (max-width: 80rem) {
  .App {
    width: 100%;
  }
  .nav-bar {
    width: 100%;
  }
}
